<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- 
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>
-->

<p-messages [(value)]="msgs"></p-messages>

<ion-content padding>
  <video autoplay loop src="../../assets/imgs/background-video.mp4"></video>

  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <ion-col col-xl-3 col-lg-4 col-md-6 col-sm-8 col-xs-10 center text-center>
        <form novalidate [formGroup]="loginform">
          <div class="row-div">
            <img src="../../assets/imgs/logo.png" alt="" />
          </div>

          <div class="row-div">
            <ion-item no-lines *ngIf="( loginform.get('email').hasError('minlength') || loginform.get('email').hasError('pattern') || loginform.get('email').hasError('required') ) && loginform.get('email').touched">
              <div class="error" *ngIf="loginform.get('email').hasError('required') && loginform.get('email').touched">
                Please input your email
              </div>
              <div class="error" *ngIf="loginform.get('email').hasError('pattern') && loginform.get('email').touched">
                Email address invalid
              </div>
            </ion-item>
            <ion-item>
              <ion-label color="primary"><ion-icon name="md-person"></ion-icon></ion-label>
              <!-- <ion-input type="text" placeholder="Name@email.com" formControlName="email" required></ion-input> -->
              <ion-input type="text" [(ngModel)]="userData.email" placeholder="Name@email.com" formControlName="email" [class.error1]="!loginform.controls.email.valid && loginform.controls.email.dirty"></ion-input>
            </ion-item>
          </div>

          <div class="row-div">
            <ion-item no-lines *ngIf="( loginform.get('password').hasError('minlength') || loginform.get('password').hasError('maxlength') || loginform.get('password').hasError('required') ) && loginform.get('password').touched">
              <div class="error" *ngIf="loginform.get('password').hasError('required') && loginform.get('password').touched">
                Please input your password
              </div>
              <div class="error" *ngIf="loginform.get('password').hasError('minlength') && loginform.get('password').touched">
                Minimum 6 characters
              </div>
              <div class="error" *ngIf="loginform.get('password').hasError('maxlength') && loginform.get('password').touched">
                Maximum 12 characters
              </div>
            </ion-item>
            <ion-item>
              <ion-label color="primary"><ion-icon name="lock"></ion-icon></ion-label>
              <!-- <ion-input type="password" placeholder="Password" formControlName="password" required></ion-input> -->
              <ion-input type="password" [(ngModel)]="userData.password" placeholder="Password" formControlName="password" [class.error1]="!loginform.controls.password.valid && loginform.controls.password.dirty"></ion-input>
            </ion-item>
          </div>

          <div class="row-div">
            <ion-row>
              <ion-col justify-content-end class='a-col'><a (click)="forgot()">Forgot password?</a></ion-col>
            </ion-row>
          </div>

          <div class="row-div">
            <button ion-button block outline color="lightText" (click)="login()" class="default-btn">Log in</button>
          </div>
          
          <div class="row-div">
            <ion-row>
              <ion-col justify-content-start class='lbl-col'>Don't have account?</ion-col>
              <ion-col justify-content-end class='a-col'><a (click)="signup()">Sign up</a></ion-col>
            </ion-row>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
