page-home {
    ion-content {
        button.signup-btn {
            color: #2E2D2D;
            background: #FFFFFF !important;
            border: 1px solid #4d4d4d;
        }
        button.signup-btn:hover {
            background: #F0F0F0 !important;
        }
        button.signup-btn:active {
            background: #E0E0E0 !important;
        }
    }
}
