// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
    div.scroll-content {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
    
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }
    
    div.row-div {
        margin: 8px 0;

        button.default-btn {
            background: #488AFF !important;
            color: #ffffff;
        }
        button.default-btn:hover {
            background: #1B6DFF !important;
        }
        button.default-btn:active {
            background: #1055CF !important;
        }

        .item-md.item-block .item-inner {
            border-bottom: 0px;
            &:active, &:focus {
                border-bottom: 0px;
            }            
        }
    }

    div.logo-div {
        margin-bottom: 25px;
    }

    div.error {
        color: #FF0000;
    }

    ion-input {
        background: white;
    }
}

p-messages {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: inherit;
    text-align: center;

    div.ui-messages {
        margin: 0;
    }
    
    div.ui-messages-warn {
        color: #55616E;
        background-color: #ECB0C2;
        border-color: #ECB0C2;

        a.ui-messages-close {
            font-size: 20px;
            color: #FFFFFF !important;
            line-height: 25px;
            width: 25px;
            height: auto;
            border-radius: 13px;
        }
        a.ui-messages-close:hover {
            background-color: #EF93AF;
        }
        a.ui-messages-close:active {
            background-color: #F36C95;
        }
        span.ui-messages-icon {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

body {
    cursor: url('../assets/icon/cursor.png'), auto !important;
}